<p id="notice"><%= notice %></p>

<h1>My Applications</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @applications %>
      <% @applications.each do |application| %>
        <ul>
          <div>Job Title: <%= application.job.job_title %></div>
          <div>Company: <%= application.job.employer_name %></div>
          <div>Submission Date: <%= application.created_at.strftime("%d/%m/%Y") %></div>
          <div>Notes: <%= application.notes %></div>
        </ul>
      <% end %>
    <% else %>
      <h2>No applications yet</h2>
    <% end %>
  </tbody>
</table>

<br>

