<h3><%= @job.job_title %></h3>

<div>
	<div>Employer: <%= @job.employer_name %></div>
	<div>Location: <%= @job.location %></div>
	<div>Description: <%= @job.description %></div>
	<div>Posting Date: <%= @job.updated_at.strftime("%d/%m/%Y") %></div>
</div>
<br>
<% if current_user && current_user.applicant? %>
  <% if @app && @app.id.present? %>
    <div>You have already applied to this Job</div>
    <div>See the <%= link_to "List My Applications", applications_path %> for more info</div>
  <% else %>
  	<%= link_to "Submit Application", new_application_path(job_id: @job.id, user_id: current_user), method: "get", class: "btn" %>
  <% end %>
<% end %>