<!DOCTYPE html>
<html>
  <head>
    <title>Job Board</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <body>
      <div class="container">
        <div id="title"><%= link_to "Job Board", root_path %></div>
        <header>
          <%= render "layouts/navigation" %>
        </header>

        <div class="main">
          <% if notice %>
            <p class="alert alert-success"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert alert-danger"><%= alert %></p>
          <% end %>
          <%= yield %>
        </div>

      </div>
    </body>
  </body>
</html>
